In [7]:
import pandas as pd

In [17]:
pd.DataFrame(
    {'population' : [7655695, 633894, 23434, 342353, 46567]})

   population
0     7655695
1      633894
2       23434
3      342353
4       46567

In [21]:
pd.DataFrame(
    {'population' : [7655695, 633894, 23434, 342353, 46567],
    'area': [234, 34, 343 , 234, 46 ]
    
    })

   population  area
0     7655695   234
1      633894    34
2       23434   343
3      342353   234
4       46567    46

In [13]:
population_dict = {
    'ismailia' : 1000000,
    'cairo' : 15000000,
    'monofia' : 20000000,
    'alexandria' : 3984395335
}

population = pd.Series(population_dict)

area_dict = {
    'ismailia' : 202,
    'cairo' : 2342,
    'monofia' : 343,
    'alexandria' : 87
}

area = pd.Series(area_dict)
print(area)
pd.DataFrame(
    {
        'population' : population,
         'area': area
    })

ismailia       202
cairo         2342
monofia        343
alexandria      87
dtype: int64

            population  area
ismailia       1000000   202
cairo         15000000  2342
monofia       20000000   343
alexandria  3984395335    87

# Loading data into Pandas

In [26]:
df = pd.read_csv('pokemo_data.csv')
df

In [ ]:
df.head(5)

In [ ]:
df_xlsx = pd.read_excel('pokemon_data.xlsx')
df_xlsx

In [ ]:
df_xlsx.head(5)

In [ ]:
df = pd.read_csv('pokemo_data.txt')
df

In [ ]:
df = pd.read_csv('pokemo_data.txt', delimiter='\t')
df

# Reading Data in Pandas

In [ ]:
df = pd.read_csv('pokemo_data.csv')

# Read headers
df.columns

# Read each Column

# print(df['Name'])
# print(df['Name'][0:5)
# print(df[['Name', 'Type 1', 'HP']])

# Read each Row

# print(df.head(4))
# print(df.iloc[1])
# print(df.iloc[1:4])
# print(df.iloc[0:4])

#print('-----after read a specific-------print(df.iloc[2,1])--------------------')
# for index, row in df.iterrows():
#     print(index, row['Name')
df.loc[df['type 1'] == "Fire"]
df.loc[df['type 1'] == "Grass"]
    
# Read a specific location (R, c)

# print(df.iloc[2,1])

# Sorting/Describing Data

In [ ]:
df.describe()

In [ ]:
df.sort_values('Name', ascending=False)

In [ ]:
df.sort_values(['Type 1', 'HP'], ascending=True)

In [ ]:
df.sort_values(['Type 1', 'HP'], ascending=False)

In [ ]:
df.sort_values(['Type 1', 'HP'], ascending=[1, 0])

# Making changes to the data

In [ ]:
df.head(5)

In [ ]:
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# df.drop(columns=['Total'])
# df['Total'] = df.iloc[:, 4:9].sum(axis=1)
# df['Total'] = df.iloc[:, 4:10].sum(axis=1

cols = list(df.columns.values)
# df = df[cols[0:4] + cols[-1]
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

In [ ]:
df.head(5)

# Saving our Data (Exporting into Desired Format)

In [ ]:
# df._to_csv('modifies.csv', index=False)
df.to_excel('modified.xlsx', index=False)
df.to_csv('modified.txt', index=False, sep='\t')

# Filtering Data

In [ ]:
# df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]
# df.loc[(df['Type 1'] == 'Grass') and (df['Type 2'] == 'Poison')]
# df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
# new_df.to_csv('filtered')
new_df = new_df.reset_index(drop=True, inplace=True)
new_df

In [ ]:
df.loc[df['Name'].str.contains('Mega')]

In [ ]:
import re

df.loc[df['Type 1'].str.contains('fire|Grass', regex=True)]
df.loc[df['Type 1'].str.contains('fire|Grass',flags=re.I,  regex=True)]
df.loc[df['Type 1'].str.contains('^pi[a-z]*',flags=re.I,  regex=True)]

# Conditional Changes

In [ ]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
df

In [ ]:
df.loc(df['Type 1'] == 'Fire', 'legendary'] = True
df

In [ ]:
df = pd.read_csv('modified.csv')
df

In [ ]:
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE'
df

In [ ]:
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']
df

In [ ]:
df = pd.read_csv('modified.csv')

# Aggregate Statistics (Groupy)

In [ ]:
df = pd.read_csv('modified.csv')
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)
df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

In [ ]:
df = pd.read_csv('modified.csv')
df.groupby(['Type 1']).sum()
df.groupby(['Type 1']).count()

In [ ]:
df = pd.read_csv('modified.csv')
df['count'] = 1

df.groupby(['Type 1').count()['count']
df.groupby(['Type 1', 'Type 2']).count()['count']

# Working with large amounts of data

In [ ]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby('Type 1']).count()
    new_df = pd.concat([new_df, results])